@import 'src/app/shared/layout/pattern/color-palette.scss';
@import 'src/app/shared/layout/mixins/mixin.scss';

.header {
  @include center-between;
  background-color: $main-color-1;
  padding: 15px 30px;


  &__logo {
    width: 240px;
    height: 62px;
    cursor: pointer;
  }

  &__acesso {
    font-size: 13px;
    padding: 5px 0;
    color: $neutral-color-1;
    cursor: pointer;
  }

  &__icon {
    color: $main-color-3;
    font-size: 16px;
    padding-right: 10px;
  }
}

@media (max-width: 600px)
{
  .header__logo {
    width: 140px;
    height: 35px;
  }
}

