<div class="row header">
  <div class="col-7 col-md-9 col-lg-2">
    <img src="assets/imgs/logo_milhas_aluguel_de_carros_branco.png" alt="logo-minhas-aluguel-de-carros" routerLink="">
  </div>

  <nav class="col-8">
    <a href="#">GRUPO DE CARROS</a>
    <a href="#">OFERTAS</a>
    <a href="#">FIDELIDADE</a>
    <a href="#">PARA EMPRESAS</a>
    <a href="#">DÚVIDAS</a>
  </nav>

  <div class="col-5 col-md-3 col-lg-2 header__right">
    <div>
      <i class="pi pi-car"></i>
      MINHAS RESERVAS
    </div>

    <div routerLink="/login" routerLinkActive="router-link-active" >
      <i class="pi pi-user"></i>
      LOGIN
    </div>

    <div>
      <i class="pi pi-bars"></i>
    </div>
  </div>
</div>
