@import 'src/app/shared/layout/pattern/color-palette.scss';
@import 'src/app/shared/layout/mixins/mixin.scss';


button {
  height: 50px;
  width: auto;
  margin-top: 15px;
}

.search {
  // @include center-align;

  background-color: $main-color-0;
  border-radius: 0 0 20px 20px;
  margin-bottom: 40px;

  &__form {
    margin: 15px;
  }
}

