<div class="container-fluid home">
  <div class="home__banner">
    <video autoplay muted loop>
      <source src="./../../../assets/movies/comercial_banner.webm" type="video/webm"/>
    </video>
  </div>

  <!-- CONHEÇA NOSSA FROTA -->
  <!-- <div class="container-fluid meet-fleet">
    <div class="container">
      <h1>Conheça a nossa Frota</h1>
      <p>As melhores condições para você reservar e aproveitar</p>

      <app-carousel [dataSource]="cars" [slidesPerView]="1"></app-carousel>
      <button mat-stroked-button class="btn-check-all">CONFIRA TODOS OS GRUPOS</button>
    </div>
  </div> -->

  <!-- SAIBA MAIS -->
  <div class="container know-more">
    <div class="row">
      <div class="col know-more__miles">
        <div class="know-more__circle">
          <i class="pi pi-ticket" style="font-size: 3rem"></i>
        </div>
        <div>
          <p><strong>Programa Milhas</strong></p>
          <p>O jeito mais simples de economizar nas próximas viagens.</p>

          <p class="know-more__miles-link">Saiba mais</p>
        </div>
      </div>

      <div class="col know-more__miles">
        <div class="know-more__circle">
          <i class="pi pi-shield" style="font-size: 3rem"></i>
        </div>
        <div>
          <p><strong>Retirada Rapida</strong></p>
          <p>
            O jeito mais rápido e seguro de retirar um carro​​ onde você
            estiver!
          </p>

          <p class="know-more__miles-link">Saiba mais</p>
        </div>
      </div>
    </div>
  </div>

  <!-- DESTINOS PARA DESCOBRIR -->
  <!-- <div class="container-fluid meet-fleet">
    <div class="container">
      <h1>Destinos para descobrir e se inspirar</h1>

      <app-carousel [dataSource]="destinyToDiscover" [slidesPerView]="1"></app-carousel>
      <button mat-stroked-button class="btn-check-all">CONFIRA TODOS OS DESTINOS</button>
    </div>
  </div> -->




</div>
