@import 'src/app/styles/main.scss';

.swiper {
  width: 600px;
  height: 400px;
}
.swiper-button-prev, .swiper-button-next {
  width: 40px;
  height: 40px;
  background-color: transparent;
  color: $color-base-emphasis;
  border: 1px solid $color-base-primary;
  border-radius: 50%;
  transition: 0.3s;

  &::after {
    font-size: 16px;
  }
}

.swiper-button-prev:hover {
  background-color: $color-background-dark;
}

.swiper-button-next:hover {
  background-color: $color-background-dark;
}
