<div class="swiper">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">

    <!-- Slides -->
    <div class="swiper-slide" *ngFor="let prd of dataSource">
      <img src="{{prd.image}}" alt="" width="500px">
      <div>{{prd.group}}</div>
      <div>{{prd.description}}</div>
    </div>

  </div>

  <!-- If we need pagination -->
  <!-- <div class="swiper-pagination"></div> -->

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

</div>
