<div class="col-12 adicionais-card">
  <div class=" adicionais-card__header">
    <div class="adicionais-card__header-title">
      <i class="pi pi-qrcode"></i>
      <span>{{title}}</span>
    </div>

    <div class="adicionais-card__header-title">
      <div class="adicionais-card__header-value">R$ {{value}} / dia</div>
      <input id="adicional-check" type="checkbox" />
    </div>
  </div>

  <div class="adicionais-card__footer" *ngIf="description">
    <p><small>{{description}}</small></p>
  </div>
</div>
