@import 'src/app/styles/main.scss';

.adicionais-card {
  border: 1px solid rgba(128, 128, 128, 0.3);
  border-radius: 10px;
  margin-bottom: 10px;
  height: auto;

  &__header {
    @include center-between;
    padding: 5px 30px;
    margin: 10px 0;

    input {
      width: 20px;
      height: 20px;
    }

    &-title {
      @include center;

      i {
        font-size: 25px;
      }

      span {
        font-weight: 600;
        font-size: 12pt;
        padding: 0 10px;
      }
    }

    &-value {
      font-size: 12pt;
      margin-right: 10px;
    }
  }

  &__footer {
    border-radius: 0 0 10px 10px;
    background-color: #F2F2F2;

    p {
      margin: 0 !important; //TODO: REMOVER
      line-height: normal;
      font-size: 9pt;
      padding: 12px;
    }
  }
}
