// SASS style sheet */
// Palette color codes */
// Palette URL: https://coolors.co/000000-1b1a17-86600c-f0a500-f3f5f7-ffffff */
// As hex codes */

$main-color-0: #004521;
$main-color-1: #025E29;
$main-color-2: #78DE1E;
$main-color-3: #F0A501;

$neutral-color-0: #FFFFFF;
$neutral-color-1: #F2F2F2;
$neutral-color-2: #E6E6E6;
$neutral-color-3: #000000;
$neutral-color-4: #1B1A17;

$complementary-color-0: #A986FE;
