// SASS style sheet */
// Palette color codes */
// Palette URL: https://coolors.co/000000-1b1a17-86600c-f0a500-f3f5f7-ffffff */
// As hex codes */

$primary-color-0: #F0A500;
$primary-color-1: #86600C;

$second-color-0: #FFFFFF;
$second-color-1: #F3F5F7;

$dark-color-0: #000000;
$dark-color-1: #1B1A17;
