<div class="container">
  <div class="row">
    <div class="col-12 col-md-6 col-lg-4 tp-wrapper" *ngFor="let grupo of dataGroups; let i = index">
      <div class="tp-box" [@flipState]="flippedCards[i] ? 'active' : 'inactive'">
        <div class="tp-box__side tp-box__front">
          <div class="text-center">
            <p><strong>{{grupo?.grupoVeiculo?.grupo}} - {{grupo?.grupoVeiculo?.nome}}</strong></p>

            <p-carousel [value]="grupo?.grupoVeiculo?.veiculos" orientation="horizontal" [showNavigators]="false">
              <ng-template let-veiculo pTemplate="grupo">
                <img src="{{ veiculo.urlImagem }}" alt="" width="100%" />
              </ng-template>
            </p-carousel>

            <p>Fiat Mobi 1.0, Renault Kwid 1.0 ou similar*</p>
            <p class="fw-lighter">
              <small>
                *Sua reserva garante um dos carros desse grupo.<br />
                Modelo sujeito à disponibilidade da agência.
              </small>
            </p>

            <div class="reservation-groups__list-card--value" *ngIf="showValue">
              <p>A partir de</p>
              <p>
                <span class="reservation-groups__list-card--value-currency"> R$ </span>
                <span class="reservation-groups__list-card--value-amount"> 124,75 </span>
                <span class="reservation-groups__list-card--value-day"> /dia </span>
              </p>
              <p>
                <small>
                  *Proteções e taxa de aluguel  ({{grupo.tarifa.percentualTaxaServico}}%) ainda não está inclusa nesse valor.
                </small>
              </p>
            </div>

            <button mat-flat-button *ngIf="!isOnlyOneCard" color="primary" class="col-12 my-3" (click)="nextStep(grupo.id)">ESCOLHER GRUPO</button>
            <p (click)="toggleFlip(i)"  style="cursor: pointer; text-decoration: underline;">Mostrar detalhes</p>
          </div>

        </div>
        <div class="tp-box__side tp-box__back">
          <div class="text-center">
            <p><strong>{{grupo?.grupoVeiculo?.grupo}} - {{grupo?.grupoVeiculo?.nome}}</strong></p>

            <app-details-groups *ngIf="grupo?.detalhes" [detailsGroup]="grupo?.detalhes"></app-details-groups>
            <p (click)="toggleFlip(i)" style="cursor: pointer; text-decoration: underline;">Esconder detalhes</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>














<!-- <div class="row">
  <div [ngClass]="isOnlyOneCard ? 'flip-card' : 'col-12 col-md-6 col-lg-4 flip-card'" *ngFor="let item of dataGroups; let i = index">
    <div class="flip-card-inner" [ngClass]="{'flipped': flippedCards[i]}">

      <div class="flip-card-front">
        <div class="reservation-groups__list-card">
          <div class="text-center">
            <p><strong>{{item.grupoVeiculo?.grupo}} - {{item.grupoVeiculo?.nome}}</strong></p>

            <p-carousel [value]="item.grupoVeiculo.veiculos" orientation="horizontal" [showNavigators]="false">
              <ng-template let-veiculo  pTemplate="item">
                <img src="{{ veiculo.urlImagem }}" alt="imagens do grupo de veículos" width="100%" />
              </ng-template>
            </p-carousel>

            <p>Fiat Mobi 1.0, Renault Kwid 1.0 ou similar*</p>
            <p class="fw-lighter">
              <small>
                *Sua reserva garante um dos carros desse grupo.<br />
                Modelo sujeito à disponibilidade da agência.
              </small>
            </p>

            <div class="reservation-groups__list-card--value" *ngIf="showValue">
              <p>A partir de</p>
              <p>
                <span class="reservation-groups__list-card--value-currency"> R$ </span>
                <span class="reservation-groups__list-card--value-amount"> 124,75 </span>
                <span class="reservation-groups__list-card--value-day"> /dia </span>
              </p>
              <p>
                <small>
                  *Proteções e taxa de aluguel  ({{item.tarifa.percentualTaxaServico}}%) ainda não está inclusa nesse valor.
                </small>
              </p>
            </div>

            <button mat-flat-button *ngIf="!isOnlyOneCard" color="primary" class="col-12 my-3" (click)="nextStep(item.id)">ESCOLHER GRUPO</button>
            <p (click)="flipCard(i)">Mostrar detalhes</p>

          </div>
        </div>
      </div>


      <div class="flip-card-back">
        <div class="reservation-groups__list-card">
          <div class="row">
            <p><strong>Grupo {{item.grupoVeiculo.grupo}} - {{item.grupoVeiculo.nome}}</strong></p>

            <app-details-groups [detailsGroup]="item.detalhes"></app-details-groups>
            <p (click)="flipCard(i)">Esconder detalhes</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
