<div class="container sign-in">
  <form>
    <h1>Acesse sua conta</h1>
    <mat-form-field>
      <input matInput type="email" placeholder="CPF" mask="000.000.000-00" />
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Senha" [type]="hidePassword ? 'password' : 'text'">
      <button mat-icon-button matSuffix type="button" (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
        <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>

    <a href="#">Esqueci minha senha</a>
    <button mat-raised-button type="button" color="primary" class="col-12">Entrar</button>

    <hr>

    <div>
      <h1>Criar uma conta!</h1>
      <p>Cadastre-se se ainda não tiver uma conta...</p>
      <button mat-stroked-button color="accent" type="button" class="col-12" routerLink="/cadastro">Criar conta</button>
    </div>
  </form>
</div>
