@import 'src/app/shared/layout/mixins/mixin.scss';
@import 'src/app/shared/layout/pattern/color-palette';

button {
  width: 100%;
}

.signIn {
  @include center;

  &__footer {
    @include center-between;
    margin: 18px 0;

    a {
      color: $main-color-1;
    }
  }
}

