<!-- <div class="d-flex justify-content-center align-items-center" style="width: 100%; height: 87%; border: 1px solid red;">
    <div style="background-color: #DDD; width: 400px; padding: 150px;">
      <input type="text">
      <input type="text">
      <button>entrar</button>
    </div>
</div> -->

<div class="container sign__in">
  <div class="row">
    <form class="sign__in-form">
      <p class="h5">Acesse sua conta</p>
      <mat-form-field appearance="outline" class="col-12">
        <mat-label>Nome</mat-label>
        <input matInput />
      </mat-form-field>

      <mat-form-field appearance="outline" class="col-12">
        <mat-label>Senha</mat-label>
        <input matInput [type]="hidePassword ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
          <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <a href="#" class="mb-4" style="display: flex; justify-content: flex-end;">Esqueci minha senha</a>

      <div class="row">
        <div class="col-lg-6">
          <button mat-raised-button color="primary" style="width: 100%">
            Login
            <mat-icon *ngIf="false">
              <mat-spinner color="accent" diameter="20"></mat-spinner>
            </mat-icon>
          </button>
        </div>
        <div class="col-lg-6">
          <button mat-stroked-button color="primary" style="width: 100%" routerLink="/register">
            Primeiro acesso
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
