
<div class="rater-additional" *ngIf="isShowAdditional">
  <h1>Deixe seu aluguel ainda mais completo</h1>
  <h3>Fique livre de preocupações! Conheça e inclua os nossos adicionais na sua reserva</h3>

  <!-- Adicionais de proteçóes -->
  <div class="row py-3">
    <div class="col-12 p-0" *ngFor="let additional of additionals">
      <app-card-additional [title]="additional.title" [value]="additional.value" [description]="additional.description"></app-card-additional>
    </div>
  </div>

  <!-- Acessórios -->
  <div class="row">
    <h3>Adicione acessórios para sua praticidade e conforto (sujeitos a disponibilidade na agência)</h3>
    <div class="col-6" *ngFor="let accessory of accessorys">
      <app-card-accessory [dataAccessory]="accessory" [totalItens]="totalItens" (totalAccessory)="dataAccessory($event)"></app-card-accessory>
    </div>
  </div>
</div>
