@import 'src/app/styles/main.scss';

h5 {
  color: $color-base-primary;
}
.reservation {
  &__steps {
    padding: 0 200px;
  }

}

.list-card {
  border: 1px solid rgba(128, 128, 128, 0.3);
  border-radius: 10px;
  padding: 25px 30px;
  margin-bottom: 18px;
  height: auto;
}

.card__vehicle {
  @include center;
}

.card__select {
  border-radius: 7px;
  padding: 10px 20px;
  background-color: $neutral-color-0;
  box-shadow: 0 5px 1em rgba(128, 128, 128, 0.3);
  cursor: pointer;

  &-value {
    font-size: 14pt;
  }

  &-description {
    i {
      font-size: 12px;
      color: rgb(47, 255, 75)
    }
  }
}

.card__select:hover {
  color: $neutral-color-0;
  background-color: $color-base-primary;

  // CRIAR UM MIXIN
  -webkit-transition: 0.2s ease-in;
  -moz-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in
}

.card__button-circle {
  @include center;

  background-color: $color-base-emphasis;
  border-radius: 50%;
  padding: 10px;

  // CRIAR UM MIXIN
  -webkit-transition: 0.2s ease-in;
  -moz-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in
}

.resumo__reserva {
  display: flex;
  justify-content: flex-end;

  &-field {
    max-width: 380px;
    box-shadow: -3px 0 10px rgba(128, 128, 128, 0.312);

    &-fixed {
      @extend .resumo__reserva-field;
      position: fixed;
      z-index: 1;
      bottom: 10px;
    }
  }

  &-section {
    display: flex;
    justify-content: center;
    flex-direction: column;

    color: $neutral-color-3;
    padding: 10px 30px;
  }

  &-text_underline {
    color: $color-base-primary;
    text-decoration: underline;
    cursor: pointer;
  }

  &-header {
    padding: 18px;
    border-radius: 10px 10px 0 0;
    color: $neutral-color-0;
    background-color: $color-base-primary;
  }

  &-footer {
    @extend .resumo__reserva-header;
    border-radius: 0 0 10px 10px !important;

  }
}




.flip-card {
  // perspective: 1000px;
  width: 400px;
  height: 580px;
  padding: 30px;
  position: relative;

  background: #fff;
  border-radius: 10px;
  box-shadow: 20px 30px 30px rgba(0, 0, 5, .2), 0 10px 10px rgba(0, 0, 0, .2);

  transform-style: preserve-3d;
  transition: transform 0.5s;
  // cursor: pointer;
}

.flip-card.flipped {
  transform: rotateY(180deg);
}

.flip-card-inner {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.flip-card-front,
.flip-card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flip-card-front {
  text-align: center;
  // background: #fff;
  // border-radius: 10px;
  // box-shadow: 20px 30px 30px rgba(0, 0, 5, .2), 0 10px 10px rgba(0, 0, 0, .2);
}

.flip-card-back {
  text-align: center;

  // background-color: #f44336;
  transform: rotateY(180deg);
  // color: white;
}
