@import 'src/app/shared/layout/mixins/mixin.scss';
@import 'src/app/shared/layout/pattern/color-palette.scss';

h5 {
  color: $main-color-1;
}

.list-card {
  border: 1px solid rgba(128, 128, 128, 0.3);
  border-radius: 10px;
  padding: 25px 30px;
  margin-bottom: 18px;
  height: auto;
}

.card__vehicle {
  @include center;
}

.card__select {
  border-radius: 7px;
  padding: 10px 20px;
  background-color: $neutral-color-0;
  box-shadow: 0 5px 1em rgba(128, 128, 128, 0.3);
  cursor: pointer;

  &-value {
    font-size: 14pt;
  }

  &-description {
    i {
      font-size: 12px;
      color: rgb(47, 255, 75)
    }
  }
}

.card__select:hover {
  color: $neutral-color-0;
  background-color: $main-color-1;

  // CRIAR UM MIXIN
  -webkit-transition: 0.2s ease-in;
  -moz-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in
}

.card__button-circle {
  @include center;

  background-color: $main-color-0;
  border-radius: 50%;
  padding: 10px;

  // CRIAR UM MIXIN
  -webkit-transition: 0.2s ease-in;
  -moz-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in
}

.resumo__reserva {

  &-field {
    width: 380px;
    box-shadow: -3px 0 10px rgba(128, 128, 128, 0.312);

    &-fixed {
      @extend .resumo__reserva-field;
      position: fixed;
      z-index: 1;
      top: 10px;
    }
  }

  &-section {
    display: flex;
    justify-content: center;
    flex-direction: column;

    color: $neutral-color-3;
    padding: 10px 30px;
  }

  &-text_underline {
    color: $main-color-1;
    text-decoration: underline;
    cursor: pointer;
  }

  &-header {
    padding: 18px;
    border-radius: 10px 10px 0 0;
    color: $neutral-color-0;
    background-color: $main-color-0;
  }

  &-footer {
    @extend .resumo__reserva-header;
    border-radius: 0 0 10px 10px !important;

  }
}
