@import 'src/app/shared/layout/mixins/mixin.scss';
@import 'src/app/shared/layout/pattern/color-palette.scss';

p {
  // !VERFICAR O RESET
  margin: 0;
  padding: 0;
}

h5 {
  color: $primary-color-1;
}


.list-card {
  border: 1px solid rgba(128, 128, 128, 0.3);
  border-radius: 10px;
  padding: 25px 30px;
  height: auto;
}

// .card {
//   // @include center;

//   border: 1px solid rgba(128, 128, 128, 0.3);
//   padding: 25px 30px;
//   // height: 700px
// }

.card__vehicle {
  @include center;
}

.card__select {
  border-radius: 7px;
  padding: 10px 20px;
  background-color: $second-color-0;
  box-shadow: 0 5px 1em rgba(128, 128, 128, 0.3);
  cursor: pointer;
}

.card__select:hover {
  color: $second-color-0;
  background-color: $primary-color-1;

  // CRIAR UM MIXIN
  -webkit-transition: 0.2s ease-in;
  -moz-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in
}

.card__button-circle {
  @include center;

  background-color: $primary-color-0;
  border-radius: 50%;
  padding: 10px;

  // CRIAR UM MIXIN
  -webkit-transition: 0.2s ease-in;
  -moz-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in
}

.card__vehicle-details {
  @include center;

  margin: 5px;
  padding: 5px;
  background-color: #F3F5F7;
}

// .resumo__field {
//   background-color: rgb(26, 23, 19);
//   border: 1px solid gray;
//   padding: 20px 120px;
// }

.resumo__reserva {
  display: flex;
  justify-content: center;
  flex-direction: column;

  color: #000;
  // background-color: $primary-color-1;
  // border: 1px solid gray;
  padding: 25px 30px;
}

.resumo__reserva-text_underline {
  color: $primary-color-1;
  text-decoration: underline;
  cursor: pointer;
}

.resumo__reserva-field {
  // border-radius: 7px;
  width: 70%;
  box-shadow: -3px 0 10px rgba(128, 128, 128, 0.312);

  // background-color: #000;
}

.resumo__reserva-title {
  padding: 10px 25px;
  color: $second-color-0;
  background-color: $primary-color-0;
}

hr {
  color: rgba(128, 128, 128, 0.5);
}



