<div class="container py-5">
  <div class="row">
    <div class="col-4">
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">
          <i class="pi pi-user"></i>
        </span>
        <span class="p-float-label">
          <input type="text" id="inputgroup" pInputText />
          <label for="inputgroup">Nome Completo</label>
        </span>
      </div>
    </div>

    <div class="col-4">
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">
          <i class="pi pi-user"></i>
        </span>
        <span class="p-float-label">
          <input type="text" id="inputgroup" pInputText />
          <label for="inputgroup">CPF</label>
        </span>
      </div>
    </div>

    <div class="col-4">
      <div class="p-field-radiobutton">
        <p-radioButton name="city" value="Chicago" inputId="city1"></p-radioButton>
        <label for="city1">Chicago</label>
      </div>
      <!-- <div class="p-field-radiobutton">
        <p-radioButton name="city" value="Los Angeles" inputId="city2"></p-radioButton>
        <label for="city2">Los Angeles</label>
      </div>
      <div class="p-field-radiobutton">
        <p-radioButton name="city" value="New York" inputId="city3"></p-radioButton>
        <label for="city3">New York</label>
      </div> -->
    </div>

    <!-- <div class="p-field p-col-12 p-md-4">
      <span class="p-float-label">
        <p-dropdown
          inputId="dropdown"
          [autoDisplayFirst]="false"
          [options]="cities"
          optionLabel="name"
        ></p-dropdown>
        <label for="dropdown">Nascionalidade</label>
      </span>
    </div> -->
  </div>
</div>
