<div class="container py-5">
  <div class="row">
    <div class="col-4">
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">
          <i class="pi pi-user"></i>
        </span>
        <span class="p-float-label">
          <input type="text" id="inputgroup" pInputText />
          <label for="inputgroup">Nome Completo</label>
        </span>
      </div>
    </div>

    <div class="col-4">
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">
          <i class="pi pi-user"></i>
        </span>
        <span class="p-float-label">
          <input type="text" id="inputgroup" pInputText />
          <label for="inputgroup">CPF</label>
        </span>
      </div>
    </div>


  </div>
</div>
