@import './../../layout/pattern/color-palette';

footer {
  color: $neutral-color-0;
  background-color: $main-color-0;
  padding: 40px 40px;
}

.footer__logo {
  width: 140px;
  height: 35px;
  margin-bottom: 10px;
}
