<footer>
  <div class="container">
    <div class="col-7">
      <img src="./../../../../assets/imgs/logo_milhas_aluguel_de_carros.png" class="footer__logo" alt="logo do roda pé milhas aluguel de carros">
      <p>Informações ao consumidor: Milhas Aluguel de Carros - CNPJ nº 16.670.085/0001-55<br>
        Sede: Avenida Recife, n° 1000 - Recife – CEP: 50860-000 - Recife – PE<br>
        Central de Reservas 24h: 0800 000 0000 | Assistência a Clientes 24h: 0800 000 0001<br>
        E-mail: centraldereservas@milhas.com.br
      </p>
    </div>

    <!-- REDE DE AGÊNCIAS -->
    <!-- ACCORDION -->

    <div class="text-center">
      <p>© 2022 Milhas Aluguel de Carros | Todos os direitos reservados.</p>
    </div>
  </div>
</footer>
