@import 'src/app/styles/main.scss';

footer {
  color: $neutral-color-0;
  background-color: $color-background-dark;
  padding: 40px 40px;
  margin-top: 40px;
}

.footer__logo {
  width: 140px;
  height: 35px;
  margin-bottom: 10px;
}
