<div class="acessorios-card">
  <div class="acessorios-card__info">
    <div class="acessorios-card__info-title">
      <i class="pi pi-qrcode"></i>
      <span>{{dataAccessory?.title}}</span>
    </div>
    <p>R$ <span>{{dataAccessory?.value}}</span> / dia (unidade)</p>
  </div>

  <div class="acessorios-card__count">
    <i class="pi pi-minus" (click)="updateCountValue('minus')"></i>
    <span>{{countValue}}</span>
    <i class="pi pi-plus" (click)="updateCountValue('plus')"></i>
  </div>
</div>
