<div class="acessorios-card" *ngFor="let accessory of dataAccessory">
  <div class="acessorios-card__info">
    <div class="acessorios-card__info-title">
      <i class="pi pi-qrcode"></i>
      <span>{{accessory?.title}}</span>
    </div>
    <p>R$ <span>{{accessory?.value}}</span> / dia (unidade)</p>
  </div>

  <div class="acessorios-card__count">
    <i class="pi pi-minus" (click)="updateCountValue('minus', accessory)"></i>
    <span>{{accessory.quantity}}</span>
    <i class="pi pi-plus" (click)="updateCountValue('plus', accessory)"></i>
  </div>
</div>
