@import 'src/app/styles/main.scss';

.details-groups {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  border-radius: 7px;
  background-color: #F5F5F5;
  margin: 10px 0;
  padding: 10px 5px;
  height: auto;


  i {
    font-size: 18px;
  }

  span {
    padding: 0 10px;
  }
}
