/* You can add global styles to this file, and also import other style files */
@import './app/styles/base/reset';
@import './app/styles/global/primeng-global.scss';

// !USADO PARA ALTERAR A COR DO SWITCH DO BOOTSTRAP
.form-check-input:checked {
  background-color: $main-color-3 !important;
  border-color: $main-color-3 !important;
}

// !MELHORAR ISSO
.mat-form-field {
  width: 100%;
}
.mat-form-field-flex {
  background-color: white !important;
  border-radius: 5px !important;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

// div {
//   border: 1px solid red;
// }


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
